@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

 /* Global style */

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
 }

 .container{ 
    padding: 25px 100px 0px 100px;
 }

/* Hero section style */


 .hero-container{
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .hero-container img{
    width: 500px;

}

.hero-content{
    max-width: 570px;
}

.hero-content h1{
    color: #272727;
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 32px;
}

.hero-content p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 32px;
}

.hero-content button{
    padding: 15px 36px;
    background-color: #E55473;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
}